{% extends 'base.html' %}

{% block head %}
<title>Editar nome de avião</title>
{% endblock %}

{% block body %}
<div class="content">

    <h1>Editar nome do avião</h1>

    <table>
        <tr>
            <th>id</th>
            <th>Nome do avião</th>
        </tr>
        <tr>
            {% for a in aviao %}
                <td>{{ a[0] }}</td>
                <td>{{ a[1] }}</td>
            {% endfor %}
        </tr>
    </table>
    {% for a in aviao %}
    <form action="/editarAviao/{{ a[0] }}" method="POST">
        <label for="nome">Informe o nome do aviao:</label><br/>
        <input name="nome" id="nome" type="text" required>
        <br/>

        <input type="submit" value="Editar avião">
    </form>
    {% endfor %}
    <a href="/cadastroAviao">Retornar</a>
</div>
{% endblock %}